%header.main-header
  %div.main-header__inner
    %div.main-header__title
      %h2 Receiver
    %span.fa.fa-bars.menu-icon
    %div.main-header__function
      %ul.login-register
        %li.header-mypage
          マイページ
        %li.header-logout
          ログアウト
