%section.main-container
  = render 'shared/header'
  %h1.main-text 欲しい時に、受け取ろう
  %div.scroll-down
    %p.scroll-down__title SCROLL
    %i.fas.fa-angle-double-down

- if user_signed_in?
  %section.middle-container.scroll
    %div.middle-container__textbox
      %h3 近くのReceiverを探す
    = form_tag(users_search_path, method: :get,class: "middle-container__searchbox") do
      = text_field_tag :search, '', class: 'middle-container__input', placeholder: ' 郵便番号を入力'
      %button{class: "middle-container__searchbtn",:type => "submit"}
        %i.fas.fa-search
- else
  %section.middle-container.scroll
    = link_to new_user_registration_path, class: "middle-container__textbox" do
      %div.middle-container__textbox
        %h3 近くのReceiverを探す

%section.description.scroll
  %div.description-container
    %div.description-container__imagebox
    %div.description-container__textbox
      %h1.description-container__textbox--title Receiverとは？
      %br
      %p 最近はインターネットが普及し、欲しいものがすぐに注文できる時代です。
      %p しかし、荷物の多くは土日に配達依頼が集中し、時間通りに届かなかったり、再配達になってしまうことがあります。
      %p 「誰か自分の代わりに受け取ってくれる人がいたらなぁ・・・」
      %p そんな想いを実現できるのが、このReceiverです。
      %p まずは自分の家の近くで登録されているReceiverを探します。
      %p あとは登録されれている人と、受け取り日時などのやり取りをして荷物を受け取って完了です。
      %div.view-more view more >>

%section.sub-description
  %div.sub-description__title
    %h1 使い方は「ユーザー登録」から簡単3step!
  %div.sub-description__illust-container
    %div.sub-description__stepbox
      %div.sub-description__stepbox--title step1
      %div.illustbox1
      %p ・近くのユーザーを検索し、メッセージを送信
    %div.sub-description__stepbox
      %div.sub-description__stepbox--title step2
      %div.illustbox2
      %p ・ユーザーは予定に合わせて返答
      %br
    %div.sub-description__stepbox
      %div.sub-description__stepbox--title step3
      %div.illustbox3
      %p ・荷物を受け取り
      %br

%footer.main-footer
  %div.main-footer__inner
    %div.main-footer__inner--textbox
      %p 作成者 HOSOKAWA DAIKI
      %p mail : test@gmail.com
      %p TEL : 080-0000-0000
    %div.main-footer__inner--copyright
      %small © 2019 Receiver
