.user-mypage-container
  %div.user-mypage-container__inner
    %h1.user-mypage-container__title #{@user.nickname}さんの MYPAGE
    %div.user-mypage-container__comment-box メッセージを入力
    %div.user-mypage-container__submit send
    %div.comment-container
      %h1.comment-container__title <メッセージ一覧>
